body {
    background: #696e9e;
}

.addNoteBtn {
    color: white;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.44);
    background: #34b399;
    border: none;
}

.sticker {
    padding-top: 20px;
    background: #ffffff;
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #34b399;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    .bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        background: #34b399;
        width: 100%;
        &:hover {
            cursor: move;
            background: #4bd0b5;
        }
        .deleteButton {
            all:unset;
            position: absolute;
            right: 0;
            width: 20px;
            height: 20px;
            opacity: 0.3;
            &:hover {
                cursor: pointer;
                opacity: 0.65;
                &::before, &::after {
                    background: #000000;
                }
            }
            &::before, &::after {
                content: '';
                position: absolute;
                height: 3px;
                width: 100%;
                top: 50%;
                left: 0;
                margin-top: -2px;
                background: #000;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
    textarea {
        padding: 3px 10px;
        box-sizing: border-box;
        min-height: 100px;
        min-width: 100px;
        background: transparent;
        border: none;
    }

    &:hover {
        z-index: 1;
    }
}
