body {
    background: #696e9e;
}

.addNoteBtn {
    color: white;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.44);
    background: #34b399;
    border: none;
}

.sticker {
    padding-top: 20px;
    background: #ffffff;
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #34b399;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    .bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        background: #34b399;
        width: 100%;
        .deleteButton {
            border: none;
            position: absolute;
            top: 2px;
            right: 5px;
            height: 15px;
            width: 15px;
            cursor: pointer;
            border-radius: 50%;
            background: #ff0000;
        }
    }
    textarea {
        padding: 3px 10px;
        box-sizing: border-box;
        min-height: 100px;
        min-width: 100px;
        background: transparent;
        border: none;
    }
    .bar:hover {
        cursor: move;
        background: #4bd0b5;
    }
    &:hover {
        z-index: 1;
    }
}
